{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    {% include 'todo\navbar.html' %}

    <div class="home-container">
        <h1>Welcome to the TODO Application</h1>
        <p>Manage your tasks effectively and stay organized.</p>

        <a href="{% url 'add_task' %}" class="buttons btn">Add Task</a>

    </div>
</body>
</html>
